.panel.panel-primary
  .panel-heading
    %h2 Legal Documents
  .panel-body
    %p
      The following is a list of legal documents defined by #{@company.name}
  %table.table
    %tr.info
      %th Name
      %th URL
      - if (can? :edit, LegalDocument) || (can? :delete, LegalDocument)
        %th Actions
    - @company.legal_documents.each do |d|
      %tr
        %td= d.name
        %td
          =link_to "Live URL", d.url
        - if (can? :edit, LegalDocument) || (can? :delete, LegalDocument)
          %td.actions
            - if can? :edit, LegalDocument
              = link_to('Edit', edit_polymorphic_path([@company,d]), {class: 'btn btn-xs btn-info'})
            - if can? :delete, LegalDocument
              = link_to('Delete', polymorphic_path([@company,d]), class: 'btn btn-xs btn-danger', method: :delete)
