%table.table
  %tr.info
    %th Criteria
    %th Result
  %tr
    %td= @guideline.true_description
    %td ... in order to 'follow' this guideline
  %tr
    %td= @guideline.false_description
    %td ... in order to 'not follow' this guideline
