.container
  .page-header
    %h1 All Guidelines

  %ul.list-group
    - @guidelines.each do |g|
      %li.list-group-item
        = link_to(g.name, guideline_path(g))
        %span.actions.btn-group.btn-group-xs.btn-group-link
          - if access_to_action(:edit)
            = link_to("Edit", edit_guideline_path(g), {class: "btn btn-xs btn-info"})
          - if access_to_action(:delete)
            = link_to("Delete", guideline_path(g), class: "btn btn-xs btn-danger", method: :delete)
