.container
  .page-header
    %h1 All Guidelines
    %p List of abstract rules that a company may implement. Click a guideline to learn more about what it means to implement it


  %ul.list-group
    - @guidelines.each do |g|
      %li.list-group-item
        = link_to(g.name, guideline_path(g))
        - if (can? :edit, Guideline) || (can? :delete, Guideline)
          %span.actions.btn-group.btn-group-xs.btn-group-link
            - if can? :edit, Guideline
              = link_to("Edit", edit_guideline_path(g), {class: "btn btn-xs btn-info"})
            - if can? :delete, Guideline
              = link_to("Delete", guideline_path(g), class: "btn btn-xs btn-danger", method: :delete)
