= content_for :head do
  %title="#{@guideline.normalized_name} Guideline"

.container
  .page-header
    %h1="#{@guideline.normalized_name} Guideline"
    - if access_to_action(:delete)
      =link_to("Delete", guideline_path(@guideline), class: 'btn btn-xs btn-danger object_action', method: :delete)
    - if access_to_action(:edit)
      =link_to("Edit", edit_guideline_path(@guideline), class: 'btn btn-xs btn-info object_action')



  .panel.panel-default
    .panel-heading Description
    .panel-body
      %p= @guideline.description

  .panel.panel-primary
    .panel-heading
      %h2 Requirements
    .panel-body
      %p The following is a list of requirements for each implementation of this guideline
      =render 'table'
  
