.compare.col-sm-6
  .wrapper
    .img
  %p
    To understand the breadth of the spectrum between data-conservative and data-progressive, its helpful to look at a comparison of some companies that are dichotomous. 
  .link
    %a.btn.btn-success.btn-lg{href: companies_compare_path(a: "23andme", b: "acme")} Compare

.copy.col-sm-6
  .page-header
    %h1 Personal Moral Judgment
  %p &nbsp;&nbsp;&nbsp;&nbsp;How you decide to share your health data is a hugely personal one.

  %p &nbsp;&nbsp;&nbsp;&nbsp;Some people are data-conservative (link?). Others are data-progressive (link?). We don't grade companies based on their symbols or data practices.

  %p &nbsp;&nbsp;&nbsp;&nbsp;Instead, we believe the best way for us to make progress w how health data is used broadly is to inform. These companies are trying to do a lot of good with your data, but sharing your data isn't for everyone.

  %p &nbsp;&nbsp;&nbsp;&nbsp;(Read here to find out if you're a data conservative or progressive)
  
