.copy.col-sm-6
  .page-header
    %h1 Personal Moral Judgment
  %p
    How you decide to share your health data is a hugely personal one.
  %p 
    Some people are data-conservative (link?). Others are data-progressive (link?). We don't grade companies based on their symbols or data practices.
  %p
    Instead, we believe the best way for us to make progress w how health data is used broadly is to inform. These companies are trying to do a lot of good with your data, but sharing your data isn't for everyone.
  %p
    (Read here to find out if you're a data conservative or progressive)

.call_to_action.thumbnails.col-sm-6
  .
