.wrapper
  .img
%p
  &nbsp;&nbsp;&nbsp;&nbsp;To understand the breadth of the spectrum between data-conservative and data-progressive, its helpful to look at a comparison of some companies that are dichotomous. 

- if !mobile?
  .link
    %a.btn.btn-default.btn-lg{href: companies_compare_path(a: "23andme", b: "acme")} Compare
