%span{}
  %table
    %tr
      %td.upper_left
      %td.upper_right
    %tr
      %td.body{:colspan => 2, :class => "#{badge.archetype.name} badge-icon"}
    %tr
      %td.lower_left
      %td.lower_right
