%span.badge-icon
  %table
    %tr
      %td
        .lower_right
      %td
        .lower_left
    %tr
      %td.body{:colspan => 2}
        .content{:class => badge.archetype.name}
    %tr
      %td
        .upper_right
      %td
        .upper_left
