= content_for :head do
  %title List of Badges

.container
  .page-header
    %h1 List of Badges
    - if can? :new, Badge
      =link_to("New", new_badge_path, {class: 'btn btn-xs btn-info object_action'})

  %ul.list-group
    - @badges.each do |a|
      %li.list-group-item
        = link_to a.name, a
        %span.actions.btn-group.btn-group-xs.btn-group-link
          - if can? :edit, Badge
            = link_to("Edit", edit_badge_path(a), {class: 'btn btn-xs btn-info'})
          - if can? :delete, Badge
            = link_to("Delete", badge_path(a), {method: :delete, class: 'btn btn-xs btn-danger'})
