%span.badge-icon{:class => (size.nil? ? '' : size) }
  %table
    %tr
      %td
        .lower_right
      %td
        .lower_left
    %tr
      %td.body{:colspan => 2}
        .content{:class => badge.slug}
    %tr
      %td
        .upper_right
      %td
        .upper_left
