%span.stat-icon{:class => color}
  %table
    %tr
      %td
        .lower_right
      %td
        .lower_left
    %tr
      %td.body{:colspan => 2}
        .content
          = value
    %tr
      %td
        .upper_right
      %td
        .upper_left
