.thumbnails

  .span4
    .thumbnail
      .pictogram
      .caption
        %h3 Company Impact
        %p 
        %p
          %a.btn.btn-primary
          %a.btn.btn-default

  .span4
    .thumbnail
      .pictogram
      .caption
        %h3 Stats
        %p 
        %p
          %a.btn.btn-primary
          %a.btn.btn-default

  .span4
    .thumbnail
      .pictogram
      .caption
        %h3 Get Involved
        %p Want to contribute?
        %p
          %a.btn.btn-primary
          %a.btn.btn-default

  .span4
    .thumbnail
      .pictogram
      .caption
        %h3 Get Involved
        %p Want to contribute?
        %p
          %a.btn.btn-primary
          %a.btn.btn-default
