.thumbnails

  .thumbnail.col-sm-3
    .pictogram
    .caption
      %h3 Company Impact
      %p &nbsp;&nbsp;&nbsp;&nbsp;By averaging the impact factors of all the publications that use data from a company, we compute an Impact Factor per company.
      %p
        =link_to "View Companies Sorted by Impact Factor", companies_path(impact_factor_sort: "desc"), class: "btn btn-default"

  .col-sm-1
  .thumbnail.col-sm-3
    .pictogram
    .caption
      %h3 Stats
      - @stats.each do |name, value|
        %p
          .stat
            = render partial: 'shared/stat', locals: {value: value[:count], color: value[:color]}
            %span.name= name             


  .col-sm-1
  .thumbnail.col-sm-3
    .pictogram
    .caption
      %h3 Get Involved
      %p Want to contribute? 
      %p
        %a.btn.btn-default Help Us
