%h2 How is your health data used?
%p
  As a consumer, its difficult to keep track of how your personal health data is being used. We aim to simplify this understanding. I am not a lawyer, and this is NOT legal advice. This is a good place to start to understand how your data is used at a glance

%a{:class => 'btn btn-link'}= link_to 'Learn how your data is used', companies_path
