%section.banner
  = render 'welcome/section/banner'
%section.symbols
  = render 'welcome/section/symbols'
%section.morality
  = render 'welcome/section/morality'
%section.research
%section.tiles
  = render 'welcome/tiles'
