.outer
  = image_tag "banner.jpg", {class: "banner"}

  .container.home


    .jumbotron
      %h2 How is your health data used?
      %p
        Consent requires : Informing. Comprehending. Volunteering.
      %p
        If you see a wall of text you fail the second step. We distill legal terms into symbols to faciliate understanding.
      %p
        The stakes have never been higher. Your health data is incredibly personal and how its used can have financial, personal, and ethical consequences for you and your family.

      %p
        Search for a company to learn how they use your health data.

      #search
        = form_tag({:action => "index", :controller => "companies"}, {:method => "get", :class => 'form-horizontal search'} ) do |form|
          = render partial: "companies/search_standard", locals: {only_standard_options: true}

%section.symbols

%section.morality
%section.tiles
