.container
  .page-header
    %h1 Credit

  .page-body
    %p Under creative commons, the following icons:

    %ul
      %li
        Beaker Icon Credit to by Joshua Wold (noun 19127) under Creative Commons
        .content.research
      %li
        Data Extraction Credit to Kirill Ulitin (noun 86706) under Creative Commons
        .content.data_aggregation
      %li
        Data Responsibility Credit to Samuel Q. Green (noun 4083) under Creative Commons
        .content.full_data_access
      %li
        Single State Credit to Aha-Soft (noun 164387) under Creative Commons
        .content.single_state_hosted
      %li
        Single State Credit to Aha-Soft (noun 164402) under Creative Commons
        .content.multi_state_hosted
      %li
        Caduceus Credit to Anna Ho (noun 50184) under Creative Commons
        .content.caduceus




