.container
  .page-header
    %h1 Companies
    %p Browse Companies for detailed health information

  %ul.list-group
    - @companies.each do |c|
      %li.list-group-item
        = link_to c.name, c
        %span.actions.btn-group.btn-group-xs.btn-group-link
          =link_to("Edit", edit_company_path(c), {class: "btn btn-xs btn-info"})
          =link_to("Delete", company_path(c), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: 'Are you sure?'})

