@import "variables";
$icon-font-path: 'bootstrap/';
@import "bootstrap-sprockets";
@import "bootstrap";

$badge_background: $navbar-inverse-bg;
$badge_color:  white;

.research {
  // Beaker Icon Credit to by Joshua Wold (noun 19127) under Creative Commons
  -webkit-mask-image: image-url('research.svg');
  mask-image: image-url('research.svg');
}

.data-aggregation {
  // Data Extraction Credit to Kirill Ulitin (noun 86706) under Creative Commons
  -webkit-mask-image: image-url('data_aggregation.svg');
  mask-image: image-url('data_aggregation.svg');
}

.full-data-access {
  // Data Responsibility Credit to Samuel Q. Green (noun 4083) under Creative Commons
  -webkit-mask-image: image-url('data_download.svg');
  mask-image: image-url('data_download.svg');
}

.single-state-hosted {
  // Single State Credit to Aha-Soft (noun 164387) under Creative Commons
  -webkit-mask-image: image-url('single_state_hosted.svg');
  mask-image: image-url('single_state_hosted.svg');
}

.multi-state-hosted {
  // Single State Credit to Aha-Soft (noun 164402) under Creative Commons
  -webkit-mask-image: image-url('multi_state_hosted.svg');
  mask-image: image-url('multi_state_hosted.svg');
}

@import "badge_helpers";

.badge-icon {


  &.small {
    $badge-width: 32px;
    $badge-height: 32px;
    $badge-horz: 16px;
    $badge-vert: 8px;

    @include badge_helpers($badge-width, $badge-height, $badge-horz, $badge-vert);
  }


  // for content
  $badge-width: 40px;
  $badge-height: 40px;

  // for edges
  $badge_horz: 20px;
  $badge_vert: 10px;

  @include badge_helpers($badge-width, $badge-height, $badge-horz, $badge-vert);
}
