@import "variables";
$icon-font-path: 'bootstrap/';
@import "bootstrap-sprockets";
@import "bootstrap";

//$badge_background: $navbar-inverse-bg;
$dark: $navbar-inverse-bg;
//$badge_color:  white;
$light:  white;

.research {
  // Beaker Icon Credit to by Joshua Wold (noun 19127) under Creative Commons
  -webkit-mask-image: image-url('research.svg');
  mask-image: image-url('research.svg');
}

.data-aggregation {
  // Data Extraction Credit to Kirill Ulitin (noun 86706) under Creative Commons
  -webkit-mask-image: image-url('data_aggregation.svg');
  mask-image: image-url('data_aggregation.svg');
}

.full-data-access {
  // Data Responsibility Credit to Samuel Q. Green (noun 4083) under Creative Commons
  -webkit-mask-image: image-url('full_data_access.svg');
  mask-image: image-url('full_data_access.svg');
}

.single-state-hosted {
  // Single State Credit to Aha-Soft (noun 164387) under Creative Commons
  -webkit-mask-image: image-url('single_state_hosted.svg');
  mask-image: image-url('single_state_hosted.svg');
}

.multi-state-hosted {
  // Single State Credit to Aha-Soft (noun 164402) under Creative Commons
  -webkit-mask-image: image-url('multi_state_hosted.svg');
  mask-image: image-url('multi_state_hosted.svg');
}

.hipaa-compliance {
  // Caduceus Credit to Anna Ho (noun 50184) under Creative Commons
  -webkit-mask-image: image-url('caduceus.svg');
  mask-image: image-url('caduceus.svg');
}

@import "badge_helpers";

.stat-icon {
  &.light {
    @include stat_medium($dark, $light)
  }
  &.neutral_a {
    @include stat_medium(lighten($navbar-inverse-bg, 40%), $light)
  }
  &.neutral_b {
    @include stat_medium(lighten($brand-primary, 40%), $light)
  }
  &.dark {
    @include stat_medium($gray-lighter, $navbar-inverse-bg)  
  }
}

.badge-icon {

  &.small {
    &.dark {
      @include badge_small($dark, $light)
    }
    &.light {
      @include badge_small($light, $dark)
    }
  }

  &.medium {
    &.dark {
      @include badge_medium($dark, $light)
    }
    &.light {
      @include badge_medium($light, $dark)
    }
  }

  &.large {
    &.dark {
      @include badge_large($dark, $light)
    }
    &.light {
      @include badge_large($light, $dark)
    }
  }

  &.extra-large {
    &.dark {
      @include badge_extra_large($dark, $light)
    }
    &.light {
      @include badge_extra_large($light, $dark)
    }
  }

}
