@import "variables";
$icon-font-path: 'bootstrap/';
@import "bootstrap-sprockets";
@import "bootstrap";

$badge_background: $gray-lighter;

.research {
  // Beaker Icon Credit to by Joshua Wold (noun 19127) under Creative Commons
  background-image: url('/assets/research.svg');
}

.data_aggregation {
  // Data Extraction Credit to Kirill Ulitin (noun 86706) under Creative Commons
  background-image: url('/assets/data_aggregation.svg')
}

.full_data_access {
  // Data Responsibility Credit to Samuel Q. Green (noun 4083) under Creative Commons
  background-image: url('/assets/data_download.svg')
}

.single_state_hosted {
  // Single State Credit to Aha-Soft (noun 164387) under Creative Commons
  background-image: url('/assets/single_state_hosted.svg')
}

.multi_state_hosted {
  // Single State Credit to Aha-Soft (noun 164402) under Creative Commons
  background-image: url('/assets/multi_state_hosted.svg')
}


.badge-icon {

  td {
    width: 20px;
    height: 20px;
  }

  .body {
    background: $badge_background;
    width: 100%;
    height: 40px;
    .content {
      background-size: 40px 40px;
      width: 40px;
      height: 36px;

      margin: auto;
      padding: 5px;
      display: block;
    }
  }
}

$badge_horz: 20px;
$badge_vert: 10px;

.lower_left {
  width: 0px;
  height: 0px;
  border-left: $badge_horz solid $badge_background;
  border-bottom: $badge_vert solid $badge_background;
  border-right: $badge_horz solid transparent;
  border-top: $badge_vert solid transparent;
}

.lower_right {
  width: 0px;
  height: 0px;
  border-right: $badge_horz solid $badge_background;
  border-bottom: $badge_vert solid $badge_background;
  border-left: $badge_horz solid transparent;
  border-top: $badge_vert solid transparent;
}

.upper_left {
  width: 0px;
  height: 0px;
  border-left: $badge_horz solid $badge_background;
  border-top: $badge_vert solid $badge_background;
  border-right: $badge_horz solid transparent;
  border-bottom: $badge_vert solid transparent;
}

.upper_right {
  width: 0px;
  height: 0px;
  border-right: $badge_horz solid $badge_background;
  border-top: $badge_vert solid $badge_background;
  border-left: $badge_horz solid transparent;
  border-bottom: $badge_vert solid transparent;
}