// Index:

li {
  .actions {
    float: right;
    visibility: hidden;
    position: relative;
  }
  a {
    display: block;
  }
}

.container { 
  li:hover {
    background-color: $gray-lighter;
    .actions {
      visibility: visible;
    }
  }
}

.journals_index {

  td.actions {
    width: 100%;
  }
}

.articles_index {
  li span {
    top: -20px;
  }
}