// Style devise forms

.sessions_new, .registrations_new {
  form {
    margin-top: 20px;
  }
 
  .input {
    margin-bottom: 20px;
  }

  .hint {
    margin-left: 20px;
  }

  .links {
    padding: 20px;
    a {
      display: block;
    }
  } 
	
}