button.rebuild {
  float: right;
  top: -53px;
  position: relative;
}

.badges_index {

  .actions a {
    top: -20px; // dont like that this is a one-off (well two-off now, also for guidelines index)
  }

}