// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "index";
@import "badges";

// Company Show

.page_edit {
  float: right
}

.input_wrapper {
  padding: 5px 15px
}

// Badges context

.badge-row {
  > span{
    display: inline-block;
    vertical-align: middle;
    &.name {
      padding: 20px;
    }

  }
  height: 80px;
  display: block;
}

// Search Form

.bar {
  height: 40px;
}

form.search {
  margin-bottom: 10px;
}

.advanced-search {
  &.collapse-options {
    display: none;
  }

  top: 60px;
  padding-left: 40px;
  margin-right: 60px;  
  height: 60px;

  .advanced-option {
    &.badge-filter .input-group{
      width: 200px;
    }
    &.practice-filter .input-group{
      width: 400px;
    }

    > *{
      display: inline-block;
      margin-right: 20px;	
    }

    .value {
      top: 10px;
      position: relative;
    }

    .guideline-name {
      width: 200px;
    }   
	
    .implementation-name {
      width: 160px;
    }

    label[for='practice_implementation'] {
      border-left: 0px;
      border-right: 0px;
    }   
	

  }

}
