// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "index";
@import "badge_icons";

// Company Show

.page_edit {
  float: right
}

.input_wrapper {
  padding: 5px 15px
}

// Company Index

td.badges td.badge-column {
  padding: 0px 2px;
}

.companies_index {
  td.actions {
    width: 100%;
  }
}

// Badges context

.badge-row {
  > span{
    display: inline-block;
    vertical-align: middle;
    &.name {
      padding: 20px;
    }

  }
  height: 80px;
  display: block;
}

// Search Form

.bar {
  height: 40px;
}

form.search {
  margin-bottom: 10px;
}

.advanced-search {
  &.collapse-options {
    display: none;
  }

  top: 60px;
  padding-left: 40px;
  margin-right: 60px;  
  height: 60px;

  .advanced-option {
    &.badge-filter .input-group{
      width: 200px;
    }
    &.practice-filter .input-group{
      width: 400px;
    }

    > *{
      display: inline-block;
      margin-right: 20px;	
    }

    .value {
      top: 10px;
      position: relative;
    }

    .guideline-name {
      width: 200px;
    }   
	
    .implementation-name {
      width: 160px;
    }

    label[for='practice_implementation'] {
      border-left: 0px;
      border-right: 0px;
    }   
	

  }

}

// Search Errors

.search-errors {
  padding: 0px 60px 20px;
  color: red;
  font-weight: bold;
}


// Sort by column (impact factor)


$icon-font-path: 'bootstrap/'; // Seems like you need to 
@import "bootstrap-sprockets";
@import "bootstrap";

.sort_controls {
  display: inline-block;
  margin-left: 10px;

 > span {
   display: inline-block;
   height: 20px;
   width: 20px;
 }

 .inactive {
   opacity: 0.5;
 }

 .asc {
    @extend .glyphicon;
    @extend .glyphicon-chevron-up;
 }
 .desc {
   @extend .glyphicon;
   @extend .glyphicon-chevron-down;
 }

}


// Mobile Styles

body.phone {
  .bar {
    height: auto;
  }
  button.compare {
    width: 100%;
    margin-top: 10px;
  }

  form.search {
    margin-bottom: 0px;
  }
  .panel.compare_helper {
    margin-bottom: 10px !important;
  }
}