// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "index";
@import "badges";

// Company Show

.page_edit {
  float: right
}

.input_wrapper {
  padding: 5px 15px
}

// Badges context

.badge-row {
  > span{
    display: inline-block;
    vertical-align: middle;
    &.name {
      padding: 20px;
    }

  }
  height: 80px;
  display: block;
}