body.phone {


  // Header

  header .menu.button {
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
    padding-top: 4px;
    margin: 10px;
    float: right;
    right: 10px;
  }

  // General Layout Overrides

  .container {
    position: relative;
    top: -40px;
    padding-left: 0px;
    padding-right: 0px;

    // Now add margins on those UI elements that need it
    
    // Validate(d) on pages:
    // guideline#show
    // document#show

    .page-header {
      margin: 0px 15px;
    }
    > p, > .field {
      margin: 0px 15px;
    }
    > p {
      margin: 15px;
    }
    > h1, > h2, > h3 {
      padding: 0px 15px;
      margin: 20px 0px;
    }

    // Top level Panel UI

    > .panel {
      border-radius: 0px;
      .panel-heading {
        border-radius: 0px;
      }

    }


  }


  
  h1 {
    font-size: 16pt;
  }
  h2 {
    font-size: 14pt;
  }
  h3 {
    font-size: 12pt;
  }
        
}