body.phone {


  // Header

  header .menu.button {
    color: white;
    border: 1px solid white;
    border-radius: 2px;
    padding: 5px;
    padding-top: 4px;
    margin: 10px;
    float: right;
    right: 10px;
  }

  // General Layout Overrides

  .container {
    position: relative;
    top: -40px;
  }
  
  h1 {
    font-size: 16pt;
  }

  // would be nice to get rid of padding on L/R on mobile -- inner container padding
        
}