// Place all the styles related to the practices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
$icon-font-path: 'bootstrap/'; // Seems like you need to 
@import "bootstrap-sprockets";
@import "bootstrap";


.implementation_status {
  margin-left: 20px;
  @extend .glyphicon;

  &.follows {
    @extend .glyphicon-plus;
    @extend .btn-success;
  }

  &.does_not_follow {
    @extend .glyphicon-minus;
    @extend .btn-danger;
  }
  &.na {
    @extend .glyphicon-ban-circle;
    @extend .btn-info;
  }
  &.ambiguous {
    @extend .glyphicon-warning-sign;
    @extend .btn-warning;
  }
  &.unknown {
    @extend .glyphicon-question-sign;
    @extend .btn-warning;
  }

}

// For batch edit

body.practices_batch_new, body.practices_batch_create {
  table td.tag {
    background-color: $brand-primary;
    color: white;
  }

  table .form-group > *{
    display: inline-block;
  }
}

.batch_new {
  float: right;
  position: relative;
  top: -20px;
}


body.phone {
  .implementation_status {
    position: relative;
    top: -35px;
    float: right;
  }
}