// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

section {
  width: 100%;

  &.symbols {
    background-color: darken($brand-primary, 25%);
    color: white;
  }
  &.morality {
    background-color: $brand-success;
    color: white;
  }

  > div {
    display: inline-block;
  }

  p {
    margin-bottom: 40px;
  }

  .copy {
    padding: 20px;
    padding-right: 80px;
    font-size: 16pt;
  }

  .badge-icon {
    width: 95px;
  }
  .icon {
    vertical-align: middle;
    text-align: center;
  }

  .icons {
    > div:nth-child(even) {
      position: relative;
      left: -80px;
    }

    .bullets {
      padding-top: 20px;
      a {
        color: white;
        text-decoration: none;
      }
      font-size: 13pt;
      li {
        margin-bottom: 5px;
      }
    }
  }


  .compare {
    color: white;
    background-color: transparent;
    padding: 20px;

    .wrapper {
      text-align: center;
      margin-bottom: 40px;

      .img {
        height: 200px;
        width: 200px;
        margin: 0px auto;
        -webkit-mask-image: image-url('compare.svg');
        mask-image: image-url('compare.svg');
        background-color: white;
      }
    }

  }

}