// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

section {
  width: 100%;
  .clear {
    clear: both;
  }

  &.banner {
    padding: 40px;
    background-color: white;
    color: $navbar-inverse-bg;

    h2 {
      margin-top: 60px;
    }

    .search {
      padding: 40px 0px;

      #company_name {
        border: 0px;
        padding: 20px;
        font-size: 24px;

        &::-webkit-input-placeholder {
            color: $navbar-inverse-bg;
            font-weight:500;
        }
        &::-moz-placeholder {
            color: $navbar-inverse-bg;
            font-weight:500;
        }
        &:-moz-placeholder {
            color: $navbar-inverse-bg;
            font-weight:500;
        }
        &:-ms-input-placeholder {
            color: $navbar-inverse-bg;
            font-weight:500;
        }

      }
    }

    #search {
      color: white;
      background-color: $navbar-inverse-bg;
      display: block;

      h3 {
        display: inline-block;
      }

      .submit-search {
        background-color: $gray-light;
      }

      form {
        padding: 0px 60px;
        display: inline-block;
      }
      

    }

  }
  &.symbols {
    padding-top:20px;
    background-color: $navbar-inverse-bg; //darken($brand-primary, 25%);
    color: white;

    .link {
      width: 100%;
      a {
        display: block;
        margin: 40px 60px;
        padding: 20px;
        font-size: 16pt;
      }
    }
  }
  &.morality {
    padding-top:20px;
    background-color: lighten($navbar-inverse-bg, 40%);
    color: white;
  }
  &.tiles {
    background-color: white; //$gray-light;
    .thumbnails {
      padding-top: 40px;
      padding-left: 10%;
    }

    .thumbnail {
      background-color: white; //$navbar-inverse-bg;
      border-color:  white; //$navbar-inverse-bg;
      color: $navbar-inverse-bg;
      p {
        color: $navbar-inverse-bg;
        font-size: 16pt;
      }
      h3 {
        color: $navbar-inverse-bg;
      }
      .caption {
        .stat {
          margin-top: 20px;
          position: relative;
          display: block;
          &:hover {
            text-decoration: none;
          }
        }
        .stat > span {
          display: inline-block;
        }
        small {
          position: absolute;
          left: 90px;
          bottom: 5px;
          font-size: 10pt;
        }
        .name {
          display: inline-block;
          color: $navbar-inverse-bg;
//          height: 70px;
//          vertical-align: middle;
          position: relative;
          top: -25px;
          font-size: 18pt;
          padding: 0px 20px;
        }
      }
    }
  }
  > div {
    display: inline-block;
  }

  p {
    margin-top: 40px;
  }

  .copy {
    padding: 20px;
    padding-right: 80px;
    font-size: 16pt;
  }

  .badge-icon {
    width: 95px;
  }
  .icon {
    vertical-align: middle;
    text-align: center;
  }

  .icons {
    > div:nth-child(even) {
      position: relative;
      left: -80px;
    }

    .bullets {
      padding-top: 20px;
      a {
        color: white;
        text-decoration: none;
      }
      font-size: 13pt;
      li {
        margin-bottom: 5px;
      }
    }
  }

  // Morality section

  .compare {
    color: white;
    background-color: transparent;
    padding: 20px;
    padding-top: 40px;
    font-size: 13pt;

    .link {
      width: 100%;
      a {
        padding:20px;
        margin: 40px 80px;
        display: block;
        font-size: 16pt;
      }
    }

    .wrapper {
      text-align: center;
      margin-bottom: 40px;

      .img {
        height: 200px;
        width: 200px;
        margin: 0px auto;
        -webkit-mask-image: image-url('compare.svg');
        mask-image: image-url('compare.svg');
        background-color: white;
      }
    }

  }

}

// Mobile


body.phone.welcome_index {
  .banner {
    padding-top: 0px;
    h2 {
       margin-top: 40px;
    }
  }

    form {
      padding: 0px;
      padding-top: 10px;

      .input-group > * {
        display: table-cell;
      }

      #company_name {
//        width: auto;
        border: 1px solid;
        padding: 0px;
        font-size: 16px;
        height: 36px;
        top: 1px;
        padding-left: 10px;

      }
      span.submit-search {
        display: table-cell;
        padding: 10px; //10px 20px 10px 10px;
        left: -5px;
      }
      
      &::-webkit-input-placeholder {
          font-weight:200;
      }
      &::-moz-placeholder {
          font-weight:200;
      }
      &:-moz-placeholder {
          font-weight:200;
      }
      &:-ms-input-placeholder {
          font-weight:200;
      }
    }


  // symbols section

  section .link {
    width: 100%;
    a {
      padding: 20px;
      margin: 20px;
      margin-top: 0px;
      display: block;
    }
  }

  .icon table {
    margin: 0px auto;
  }
  
  section .icons > div:nth-child(even) {
    left:0px;
  }

  // morality section

  .copy {
    display: block;
    padding-right: 20px;
  }

  .page-header {
    display:block;
    margin: 0px 20px;
  }

  //  tiles

  .thumbnails {
    padding: 0px;
    display: block;
  }
}
