// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

section {
  width: 100%;

  &.banner {
    background-image: image-url('banner.jpg');
    background-position-y: center;
    p {
      color: white;
    }
    .jumbotron {
      background-color: transparent;
    }

    #search {
      color: white;
      background-color: $navbar-inverse-bg;
      display: block;
      border-radius: 20px;
      height: 120px;

      .submit-search {
        background-color: $gray-light;
      }

      form {
        padding: 0px 60px;
      }
      p {
        padding: 20px;
        padding-bottom: 0px;
      }

      > * {
        border-radius: 20px;
      }
    }

  }
  &.symbols {
    background-color: darken($brand-primary, 25%);
    color: white;
  }
  &.morality {
    background-color: $brand-success;
    color: white;
  }

  > div {
    display: inline-block;
  }

  p {
    margin-top: 40px;
  }

  .copy {
    padding: 20px;
    padding-right: 80px;
    font-size: 16pt;
  }

  .badge-icon {
    width: 95px;
  }
  .icon {
    vertical-align: middle;
    text-align: center;
  }

  .icons {
    > div:nth-child(even) {
      position: relative;
      left: -80px;
    }

    .bullets {
      padding-top: 20px;
      a {
        color: white;
        text-decoration: none;
      }
      font-size: 13pt;
      li {
        margin-bottom: 5px;
      }
    }
  }

  // Morality section

  .compare {
    color: white;
    background-color: transparent;
    padding: 20px;
    padding-top: 40px;
    font-size: 13pt;

    .link {
      width: 100%;
      a {
        padding:20px;
        margin: 40px 80px;
        display: block;
        font-size: 16pt;
      }
    }

    .wrapper {
      text-align: center;
      margin-bottom: 40px;

      .img {
        height: 200px;
        width: 200px;
        margin: 0px auto;
        -webkit-mask-image: image-url('compare.svg');
        mask-image: image-url('compare.svg');
        background-color: white;
      }
    }

  }

}